<div class="group-data-modeling-wrapper">
  <nz-page-header [nzGhost]="false">
    <nz-page-header-title class="page-header-title"
      >Data Modeling Demo</nz-page-header-title
    >
    <nz-page-header-extra>
      <nz-select
        class="page-header-model-choice"
        [nzMaxTagCount]="3"
        [nzMaxTagPlaceholder]="tagPlaceHolder"
        nzMode="multiple"
        nzPlaceHolder="Please select"
        (ngModelChange)="onSelectionChange()"
        [(ngModel)]="listOfSelectedModels"
      >
        <nz-option
          *ngFor="let item of listOfModels"
          [nzLabel]="item.label"
          [nzValue]="item"
        ></nz-option>
      </nz-select>
      <ng-template #tagPlaceHolder let-selectedList
        >and {{ selectedList.length }} more selected</ng-template
      >
    </nz-page-header-extra>
    <nz-page-header-content>
      <nz-carousel
        #dataModelCarousel
        [nzEffect]="'fade'"
        [nzEnableSwipe]="true"
        (nzAfterChange)="dataIndexChanged($event)"
        *ngIf="listOfSelectedModels.length > 0"
      >
        <div
          nz-carousel-content
          *ngFor="let modelPath of listOfSelectedModels; let index = index"
        >
          <button
            nz-button
            style="margin-left: 35vw;"
            nzType="primary"
            (click)="goToPreviousModel()"
            [nzSize]="'default'"
            nzShape="round"
          >
            <span nz-icon nzType="arrow-left"></span>
            Previous
          </button>

          <button
            nz-button
            style="margin-left: 2vw;"
            nzType="primary"
            (click)="goToNextModel()"
            [nzSize]="'default'"
            nzShape="round"
          >
            <span nz-icon nzType="arrow-right"></span>
            Next
          </button>

          <app-data-modeling
            [modelPath]="modelPath.value"
            [fieldOfView]="modelPath.fieldOfView"
            [farClipping]="modelPath.farClipping"
            [nearClipping]="modelPath.nearClipping"
            [stylePosition]="
              index == currentDataSelectedIndex ? 'absolute' : 'unset'
            "
          ></app-data-modeling>
        </div>
      </nz-carousel>
      <nz-empty
        class="empty-state"
        nzNotFoundContent="No Model Selected"
        *ngIf="listOfSelectedModels.length == 0"
      ></nz-empty>
    </nz-page-header-content>
  </nz-page-header>
</div>
