<div class="group-data-modeling-wrapper">
  <nz-page-header [nzGhost]="false">
    <nz-page-header-title class="page-header-title"
      >Data Modeling Demo</nz-page-header-title
    >
    <nz-page-header-extra>
      <nz-select
        class="page-header-model-choice"
        [nzMaxTagCount]="3"
        [nzMaxTagPlaceholder]="tagPlaceHolder"
        nzMode="multiple"
        nzPlaceHolder="Please select"
        (ngModelChange)="onSelectionChange()"
        [(ngModel)]="listOfSelectedModels"
      >
        <nz-option
          *ngFor="let item of listOfModels"
          [nzLabel]="item.label"
          [nzValue]="item"
        ></nz-option>
      </nz-select>
      <ng-template #tagPlaceHolder let-selectedList
        >and {{ selectedList.length }} more selected</ng-template
      >
    </nz-page-header-extra>
    <nz-page-header-content>
      <nz-carousel
        [nzEffect]="'scrollx'"
        *ngIf="listOfSelectedModels.length > 0"
      >
        <div
          nz-carousel-content
          *ngFor="let modelPath of listOfSelectedModels; let index = index"
        >
          <app-data-modeling
            [modelPath]="modelPath.value"
            [fieldOfView]="modelPath.fieldOfView"
            [farClipping]="modelPath.farClipping"
            [nearClipping]="modelPath.nearClipping"
          ></app-data-modeling>
        </div>
      </nz-carousel>
      <nz-empty
        class="empty-state"
        nzNotFoundContent="No Model Selected"
        *ngIf="listOfSelectedModels.length == 0"
      ></nz-empty>
      <!-- <nz-descriptions nzSize="small" [nzColumn]="3">
          <nz-descriptions-item nzTitle="Created" [nzSpan]="1">Lili Qu</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Association" [nzSpan]="1"><a>421421</a></nz-descriptions-item>
          <nz-descriptions-item nzTitle="Creation Time" [nzSpan]="1">2017-01-10</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Effective Time" [nzSpan]="1">2017-10-10</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Remarks" [nzSpan]="2">
            Gonghu Road, Xihu District, Hangzhou, Zhejiang, China
          </nz-descriptions-item>
        </nz-descriptions> -->
    </nz-page-header-content>
  </nz-page-header>
</div>
